h1{
    color: greenyellow;
}

marquee{
    font-size: 100px;
    font-weight: 700;
    color: limegreen;
    background-color: #008cff;
    font-family: sans-serif;
    height: 100px;
    }

    body {
      font-family: Arial, Helvetica, sans-serif;
    }


    